.new-arrivals-scroll {
    overflow-x: auto;
    white-space: nowrap;
    /* Hide default scrollbar */
    /* scrollbar-width: none;  */
    /* Firefox */
    /* -ms-overflow-style: none; */
     /* Internet Explorer 10+ */
  }
  
  .card-container {
    display: flex;
   
    /* gap: 1px; Adjust the value as needed */
  }
  
  .card {
    width: 300px; /* Set the width of the card */
  }
  

  /* Customize scrollbar for WebKit browsers */
.new-arrivals-scroll::-webkit-scrollbar {
  height: 2px; /* Adjust the height of the scrollbar */
}

.new-arrivals-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the color of the scrollbar thumb */
  border-radius: 4px; /* Adjust the border radius of the scrollbar thumb */
}

.new-arrivals-scroll::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1); /* Adjust the color of the scrollbar track */
}